@model List<myProject.Models.Berbersalonu>

@{
    ViewData["Title"] = "Berber Salonları";
}

<h1>Berber Salonları</h1>

<table class="table">
    <thead>
        <tr>
            <th>Salon Adı</th>
            <th>Adres</th>
            <th>Telefon Numarası</th>
            <th>E-posta</th>
            <th>Başlangıç Saati</th>
            <th>Bitiş Saati</th>
            <th>Aksiyonlar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var salon in Model)
        {
            <tr>
                <td>@salon.salonAd</td>
                <td>@salon.salonAdres</td>
                <td>@salon.salonNumara</td>
                <td>@salon.salonEposta</td>
                <td>@salon.baslangicSaati</td>
                <td>@salon.bitisSaati</td>
                <td>
                    <form asp-controller="Personel" asp-action="PersonelGoruntule" method="get" style="display:inline;">
                        <input type="hidden" name="salonID" value="@salon.salonID" />
                        <button type="submit" class="btn btn-primary">Personel Goruntule</button>
                    </form>
                    <form asp-controller="UygunTarih" asp-action="UygunTarihAc" method="get" style="display:inline;">
                        <input type="hidden" name="salonID" value="@salon.salonID" />
                        <button type="submit" class="btn btn-dark">Randevuya Aç</button>
                    </form>
                    <form asp-controller="UygunTarih" asp-action="UygunTarihGoruntule" method="get" style="display:inline;">
                        <input type="hidden" name="salonID" value="@salon.salonID" />
                        <button type="submit" class="btn btn-dark">Uygun Günleri Goruntule</button>
                    </form>
                    <form asp-controller="Randevu" asp-action="RandevuGoruntule" method="get" style="display:inline;">
                        <input type="hidden" name="salonID" value="@salon.salonID" />
                        <button type="submit" class="btn btn-secondary">Randevu Goruntule</button>
                    </form>
                    <form asp-action="SalonPara" method="get" style="display:inline;">
                        <input type="hidden" name="salonID" value="@salon.salonID" />
                        <button type="submit" class="btn btn-secondary">Para Goruntule</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-controller="BerberSalonu" asp-action="BerberSalonuEkle" method="get" style="display:inline;">
    <button type="submit" class="btn btn-secondary">Berber salonu ekle</button>
</form>
