@model List<myProject.Models.Randevu>

<h2>Randevularım</h2>
<div class="alert-danger">@TempData["danger"]</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Tarih</th>
            <th>Saat</th>
            <th>Salon</th>
            <th>Personel</th>
            <th>Hizmet</th>
            <th>Sure</th>
            <th>Fiyat</th>
            <th>Onay Durumu</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var randevu in Model)
        {
            <tr>
                <td>@randevu.randevuTarihi.ToString("dd-MM-yyyy")</td>
                <td>@randevu.randevuSaati</td>
                <td>@randevu.Berbersalonu.salonAd</td>
                <td>@randevu.personel.isim.ToUpper() @randevu.personel.soyisim.ToUpper()</td>
                <td>@randevu.hizmet.hizmetAdi</td>
                <td>@randevu.hizmet.hizmetSuresi</td>
                <td>@randevu.hizmet.hizmetFiyat</td>
                @if (randevu.onaylimi)
                {
                    <td>Onaylandı</td>
                }
                else
                {
                    <td>Onaylanmadı</td>
                }
                <td>
                    @if(randevu.randevuTarihi.Date > DateTime.Today.Date)
                    {
                        <form asp-controller="Randevu" asp-action="RandevuOnay" method="post" style="display:inline;">
                            <input type="hidden" name="randevuID" value="@randevu.randevuID" />
                            <button type="submit" class="btn btn-light">Onay</button>
                        </form>
                    }
                    
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a method="get" asp-controller="BerberSalonu" asp-action="AdminPaneli" class="btn btn-secondary">Geri Dön</a>
</div>